<div class="modal-header">
    <h3 class="modal-title">{{ 'delete' | translate }} {{ 'account' | translate | lowercase}} "{{ deleteAccountCtrl.service.resource.name }}"</h3>
</div>
<div class="modal-body">
    <p translate="deleteMsgWarn" translate-values="{value: deleteAccountCtrl.service.resource.name}"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-default" ng-click="deleteAccountCtrl.service.confirm()">{{ 'yes' | translate }}</button>
    <button class="btn btn-sm btn-default" type="button" ng-click="deleteAccountCtrl.service.cancel()">{{ 'no' | translate }}</button>
</div>