<div class="modal-header">
    <h3 class="modal-title">Add account</h3>
</div>
<div class="modal-body">
    <form novalidate>
        <formly-form model="addAccountCtrl.formData" fields="addAccountCtrl.formFields" form="addAccountCtrl.addAccountForm"></formly-form>
    </form>
</div>
<div class="modal-footer">
    <span style="margin: 10px; color: #23B123;" ng-show="addAccountCtrl.dataResolved"><i class="glyphicon glyphicon-ok"></i></span>
    <button type="submit" class="btn btn-primary" ng-click="addAccountCtrl.submit()" ng-disabled="addAccountCtrl.addAccountForm.$invalid">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="addAccountCtrl.cancel()">Cancel</button>
</div>