<div class="modal-header">
    <h3 class="modal-title">Add transaction</h3>
</div>
<div class="modal-body">
    <form novalidate>
        <formly-form model="addTransactionCtrl.formData" fields="addTransactionCtrl.formFields" form="addTransactionCtrl.addTransactionForm"></formly-form>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="addTransactionCtrl.submit()" ng-disabled="addTransactionCtrl.addTransactionForm.$invalid">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="addTransactionCtrl.cancel()">Cancel</button>
</div>