<div class="ui-grid-filter-container">
    <input type="text"
           class="ui-grid-filter-input ui-grid-filter-input-{{$index}}"
           uib-datepicker-popup
           ng-model="col.filters[0].term"
           datepicker-options="grid.appScope.transactionCtrl.datePickerOptions.options"
           is-open="grid.appScope.transactionCtrl.datePickerOptions.opened"
           close-text="Close"
           datepicker-append-to-body="true"
           ng-click="grid.appScope.transactionCtrl.datePickerOptions.open()"
    />
    <div role="button"
         class="ui-grid-filter-button"
         ng-click="removeFilter(col.filters[0], $index)"
         ng-disabled="col.filters[0].term === undefined || col.filters[0].term === null || col.filters[0].term === ''"
         ng-show="col.filters[0].term !== undefined && col.filters[0].term !== null && col.filters[0].term !== ''"
    ><i class="ui-grid-icon-cancel" ui-grid-one-bind-aria-label="aria.removeFilter">&nbsp;</i>
    </div>
</div>