<div class="modal-header">
    <h3 class="modal-title">Add category</h3>
</div>
<div class="modal-body">
    <form novalidate>
        <formly-form model="addCategoryCtrl.formData" fields="addCategoryCtrl.formFields" form="addCategoryCtrl.addCategoryForm"></formly-form>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="addCategoryCtrl.submit()" ng-disabled="addCategoryCtrl.addCategoryForm.$invalid">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="addCategoryCtrl.cancel()">Cancel</button>
</div>