/MoneyKeeper/static/thirdparty/
/.idea/
/envdir/
/static/
/staticdev/
/node_modules/
/templates/assets.html
/MoneyKeeper/static/js/project.min.js
/MoneyKeeper/static/js/thirdparty.min.js
/MoneyKeeper/static/fonts
*.pyc