/MoneyKeeper/static/thirdparty/
/.idea/
/envdir/
/static/
/logs/
/node_modules/
/templates/app_assets.html
#/templates/landing_assets.html
/MoneyKeeper/static/js/project.min.js
/MoneyKeeper/static/js/thirdparty.min.js
/MoneyKeeper/static/fonts
*.pyc