{% extends 'landing.html' %}
{% block inner_content %}
    {% if validlink %}
        <p>Please enter your new password twice.<br/>
            So we can verify you typed it in correctly.</p>
        <form class="password-reset" method="post">{% csrf_token %}
            <div class="form-group">
                <label>New password</label>
                <input name="new_password1" type="password" class="form-control">
            </div>
            <div class="form-group">
                <label>Repeat new password</label>
                <input name="new_password2" type="password" class="form-control">
            </div>
            <div>
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            <input name="uid" type="hidden" value="{{ uid }}">
            <input name="token" type="hidden" value="{{ token }}">
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br/>
            possibly because it has already been used. <br/>
            Please request a new password reset.</p>
    {% endif %}
{% endblock %}