<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Accounts</h2>
            <h4 ng-repeat="account in results.accounts">{{ account.name }}: {{ account.get_balance | currency:"" }}</h4>

            <h3>Total: {{ getTotal() | currency:""}}</h3>
            <br>
            <a href="" ng-click="addAccount()">Add account</a>
        </div>
        <div class="col-md-4">
            <h2>Income/Expense</h2>
            <h4>Income: {{ results.income | currency:"" }}</h4>
            <h4>Expense: {{ results.expense | currency:"" }}</h4>
            <br>
            <a href="" ng-click="addTransaction()">Add transaction</a>
        </div>
        <div class="col-md-4">
            <h2>Categories</h2>
            <div ng-repeat="(group, categories) in results.categories | groupBy: 'kind'">
                <h3>{{ group }}</h3>
                <h5 ng-repeat="category in categories" ng-if="category.get_transactions_amount">
                    {{ category.name }}: {{ category.get_transactions_amount | currency:"" }}
                </h5>
            </div>
        </div>
    </div>
</div>