.grid {
    margin: 0 20px;
}

.green {
    color: #237D0F;
}

.red {
    color: #af2626;
}

span.delete-button {
    display: block;
    text-align: center;
    color: black;
    position: relative;
    top: 20%;
    /*margin-right: auto;*/
}

div.modal-body.pie-chart {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

div.category-element {
    margin-top: 5px;
    margin-left: 20px;
}

.category-element * {
    margin-left: 3px;
}

.popover {
    max-width: 450px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

.history-entry i {
    margin-right: 5px;
}

.deletion {
    color: #af2626;
}

.change {
    color: #afab20;
}

.addition {
    color: #5FA95F;
}

.popover p {
    white-space: nowrap;
}

div.popover-content {
    background-color: #EEEEEE;
    color: #333333;
    overflow: scroll;
    max-height: 450px;
}

h3.popover-title {
    background-color: #727272;
}

.cursor-pointer {
    cursor: pointer;
}

.form-group {
    padding-bottom: 5px;
    margin: 0;
}

/*ngAnimate*/
.repeated-item.ng-enter, .repeated-item.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity: 1;
}

.repeated-item.ng-leave {
    -webkit-animation: 0.5s my_animation;
    -moz-animation: 0.5s my_animation;
    -o-animation: 0.5s my_animation;
    animation: 0.5s my_animation;
}

@keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    -moz-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    /*padding-left: 0px;*/
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    /*padding-left: 100px;*/
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}