.inline {
    display: inline-block;
}

.datepickers {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.datepickers > div {
    margin: 30px 40px;
}

.nav-tabs {
    margin-top: 10px;
}

.grid {
    margin: 40px 20px;
}