.grid {
    margin: 0 20px;
    height: 100%;
}

.green {
    color: #237D0F;
}

.red {
    color: #af2626;
}

span.delete-button {
    display: block;
    text-align: center;
    color: black;
    position: relative;
    top: 20%;
    /*margin-right: auto;*/
}

div.modal-body.pie-chart {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

div.category-element {
    margin-top: 5px;
    margin-left: 20px;
}

.category-element * {
    margin-left: 3px;
}

.popover {
    max-width: 450px;
    min-width: 200px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

.history-entry i {
    margin-right: 5px;
}

span.mini {
    display: block;
    margin-bottom: 7px;
    font-size: 10px;
    color: #999;
}

.deletion {
    color: #af2626;
}

.change {
    color: #afab20;
}

.addition {
    color: #5FA95F;
}

.popover p {
    white-space: nowrap;
    margin-bottom: 4px;
}

div.popover-content {
    background-color: #EEEEEE;
    color: #333333;
    overflow: hidden;
    max-height: 750px;
}

h3.popover-title {
    background-color: #727272;
}

.cursor-pointer {
    cursor: pointer;
}

.form-group {
    padding-bottom: 5px;
    margin: 0;
}

.dropdown-menu.lang-select {
    min-width: 0;
}

.checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.summary-chart {
    min-height: 300px;
}

.chart .column-series {
    fill-opacity: 0.7;
}

@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

/*ngAnimate*/
.repeated-item.ng-enter, .repeated-item.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity: 1;
}

.repeated-item.ng-leave {
    -webkit-animation: 0.5s my_animation;
    -moz-animation: 0.5s my_animation;
    -o-animation: 0.5s my_animation;
    animation: 0.5s my_animation;
}

@keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes my_animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    -moz-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    /*padding-left: 0px;*/
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    /*padding-left: 100px;*/
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: #d2d2d2;
}