<div class="category-element">
    <h3>Categories <a title="Add new category" ui-sref="categories.add"><i class="glyphicon glyphicon-plus"></i></a></h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="category-element" ng-repeat="(group, categories) in categoryCtrl.results.categories | groupBy: 'kind_display'">
            <div class="col-md-3">
                <h4>{{ group }}</h4>
                <div ng-repeat="category in categories | orderBy: 'name'">
                    <a ui-sref="categories.delete({id: category.id})"><i class="glyphicon glyphicon-trash"></i></a>
                    <!--<a ui-sref="categories.edit({id: category.id})"><i class="glyphicon glyphicon-edit"></i></a>-->
                <span>
                    <input
                            type="checkbox"
                            ng-model="category.is_shown"
                            ng-change="categoryCtrl.hide(category)"
                            title="Makes this category visible(invisible) in application.">
                </span>
                    <span>{{ category.name }}</span>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>