<div class="category-element">
    <h3>{{ 'categories' | translate }} <a title="{{ 'add' | translate }} {{ 'categories' | translate | lowercase }}" ui-sref="categories.add">
        <i class="material-icons">add_box</i></a>
    </h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="category-element" ng-repeat="(group, categories) in categoryCtrl.results.categories | groupBy: 'kind_display'">
            <div class="col-md-3">
                <h4>{{ group | lowercase | translate }}</h4>
                <div ng-repeat="category in categories | orderBy: 'name'">
                    <div class="checkbox">
                        <a ui-sref="categories.delete({id: category.id})"><i class="glyphicon glyphicon-trash"></i></a>
                        <!--<a ui-sref="categories.edit({id: category.id})"><i class="glyphicon glyphicon-edit"></i></a>-->
                        <label>
                            <input
                                    type="checkbox"
                                    ng-model="category.is_shown"
                                    ng-change="categoryCtrl.hide(category)"
                                    title="Makes this category visible(invisible) in application.">
                            <span class="checkbox-material"><span class="check"></span></span>
                        </label>
                        <span>{{ category.name }}</span>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>