<div class="modal-header">
    <h3 class="modal-title">Delete {{ deleteTransactionCtrl.service.resource.kind_display.toLowerCase() }} transaction #{{ deleteTransactionCtrl.service.resource.id }}</h3>
</div>
<div class="modal-body">
    <p>Do you really want to delete this transaction?</p>
    <p>
        Details:
        {{ deleteTransactionCtrl.service.resource.date | date }}
        {{ deleteTransactionCtrl.service.resource.account }}
        {{ deleteTransactionCtrl.service.resource.kind=='inc'? '<':'>' }}
        {{ deleteTransactionCtrl.service.resource.category_or_transfer_to }}
        {{ deleteTransactionCtrl.service.resource.amount }}
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-default" ng-click="deleteTransactionCtrl.confirm(deleteTransactionCtrl.row)">Yes</button>
    <button class="btn btn-sm btn-default" type="button" ng-click="deleteTransactionCtrl.service.cancel()">No</button>
</div>