<div class="container-fluid">
    <div class="category-element">
        <h3>{{ 'accounts' | translate }}
            <a title="{{ 'add' | translate }} {{ 'new' | translate | lowercase }} {{ 'account' | translate | lowercase }}" ui-sref="accounts.add">
                <i class="material-icons">add_box</i>
            </a>
        </h3>

        <div ng-repeat="account in accountCtrl.results.accounts | orderBy: 'name'">

            <!-- <a ui-sref="accounts.edit({id: account.id})"><i class="glyphicon glyphicon-edit"></i></a>-->

            <div class="checkbox">
                <a ui-sref="accounts.delete({id: account.id})"><i class="glyphicon glyphicon-trash"></i></a>
                <label>
                    <input
                            type="checkbox"
                            ng-model="account.is_shown"
                            ng-change="accountCtrl.hide(account)"
                            title="Makes this account visible(invisible) in application.">
                    <span class="checkbox-material"><span class="check"></span></span>
                </label>
                <span>{{ account.name }}</span></div>
        </div>
    </div>
</div>