<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoneyKeeper</title>
</head>
{% verbatim %}
<body ng-app="MoneyKeeper" ng-controller="AppMainController">
<uib-tabset>
    <uib-tab ng-repeat="tab in tabs" heading="{{ tab.title }}" ui-sref="{{ tab.state }}" ui-sref-active="active"></uib-tab>
</uib-tabset>
<ui-view></ui-view>
</body>
{% endverbatim %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'thirdparty/bootstrap/dist/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'thirdparty/bootstrap/dist/css/bootstrap-theme.css' %}">
<link rel="stylesheet" href="{% static 'thirdparty/angular-ui-grid/ui-grid.css' %}">
<link rel="stylesheet" href="{% static 'thirdparty/ui-select/dist/select.css' %}">
<link rel="stylesheet" href="{% static 'css/app_styles.css' %}">
<script src="{% static 'thirdparty/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'thirdparty/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'thirdparty/angular/angular.js' %}"></script>
<script src="{% static 'thirdparty/angular-filter/dist/angular-filter.js' %}"></script>
<script src="{% static 'thirdparty/angular-resource/angular-resource.js' %}"></script>
<script src="{% static 'thirdparty/angular-ui-grid/ui-grid.js' %}"></script>
<script src="{% static 'thirdparty/angular-bootstrap/ui-bootstrap.js' %}"></script>
<script src="{% static 'thirdparty/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
<script src="{% static 'thirdparty/angular-ui-router/release/angular-ui-router.js' %}"></script>
<script src="{% static 'thirdparty/angular-sanitize/angular-sanitize.js' %}"></script>
<script src="{% static 'thirdparty/api-check/dist/api-check.js' %}"></script>
<script src="{% static 'thirdparty/angular-formly/dist/formly.js' %}"></script>
<script src="{% static 'thirdparty/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js' %}"></script>
<script src="{% static 'thirdparty/ui-select/dist/select.js' %}"></script>
<script src="{% static 'thirdparty/angular-animate/angular-animate.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>
<script src="{% static 'js/states.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
<script src="{% static 'js/summary/controller.js' %}"></script>
<script src="{% static 'js/account/controller.js' %}"></script>
<script src="{% static 'js/category/controller.js' %}"></script>
<script src="{% static 'js/transaction/controller.js' %}"></script>
<script src="{% static 'js/modals/common.js' %}"></script>
<script src="{% static 'js/modals/addAccountCtrl.js' %}"></script>
<script src="{% static 'js/modals/addTransactionCtrl.js' %}"></script>
</html>