<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Money Keeper</title>
</head>
{% verbatim %}
<body ng-app="MoneyKeeper" ng-controller="AppMainController">
<nav class="navbar navbar-default">
    <span class="navbar-brand">Money Keeper</span>
    <ul class="nav navbar-nav pull-right">
        <li><a>{{ conf.username }}</a></li>
        <li><a ng-click="logout()" href="">Logout</a></li>
    </ul>
</nav>
<uib-tabset>
    <uib-tab ng-repeat="tab in tabs" heading="{{ tab.title }}" ui-sref="{{ tab.state }}" ui-sref-active="active"></uib-tab>
</uib-tabset>
<ui-view></ui-view>
</body>
{% endverbatim %}
{% include 'assets.html' %}
</html>