{% load staticfiles %}
<!--inject:css-->
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "css/ui-grid.css" %}">
<link rel="stylesheet" href="{% static "css/select.css" %}">
<link rel="stylesheet" href="{% static "css/ng-notify.css" %}">
<link rel="stylesheet" href="{% static "css/loading-bar.css" %}">
<link rel="stylesheet" href="{% static "css/app_styles.css" %}">
<!--endinject-->
<!--thirdparty:js-->
<script src="{% static "thirdparty/jquery/dist/jquery.js" %}"></script>
<script src="{% static "thirdparty/bootstrap/dist/js/bootstrap.js" %}"></script>
<script src="{% static "thirdparty/d3/d3.js" %}"></script>
<script src="{% static "thirdparty/moment/moment.js" %}"></script>
<script src="{% static "thirdparty/angular/angular.js" %}"></script>
<script src="{% static "thirdparty/ng-notify/src/scripts/ng-notify.js" %}"></script>
<script src="{% static "thirdparty/angular-filter/dist/angular-filter.js" %}"></script>
<script src="{% static "thirdparty/angular-resource/angular-resource.js" %}"></script>
<script src="{% static "thirdparty/ngstorage/ngStorage.js" %}"></script>
<script src="{% static "thirdparty/angular-loading-bar/build/loading-bar.js" %}"></script>
<script src="{% static "thirdparty/angular-ui-grid/ui-grid.js" %}"></script>
<script src="{% static "thirdparty/angular-bootstrap/ui-bootstrap.js" %}"></script>
<script src="{% static "thirdparty/angular-bootstrap/ui-bootstrap-tpls.js" %}"></script>
<script src="{% static "thirdparty/angular-ui-router/release/angular-ui-router.js" %}"></script>
<script src="{% static "thirdparty/angular-sanitize/angular-sanitize.js" %}"></script>
<script src="{% static "thirdparty/angular-http-auth/src/http-auth-interceptor.js" %}"></script>
<script src="{% static "thirdparty/n3-line-chart/build/line-chart.js" %}"></script>
<script src="{% static "thirdparty/api-check/dist/api-check.js" %}"></script>
<script src="{% static "thirdparty/angular-formly/dist/formly.js" %}"></script>
<script src="{% static "thirdparty/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js" %}"></script>
<script src="{% static "thirdparty/ui-select/dist/select.js" %}"></script>
<script src="{% static "thirdparty/angular-animate/angular-animate.js" %}"></script>
<!--endinject-->
<!--project:js-->
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/common/filters.js" %}"></script>
<script src="{% static "js/common/grid.js" %}"></script>
<script src="{% static "js/common/states.js" %}"></script>
<script src="{% static "js/common/directives/select.js" %}"></script>
<script src="{% static "js/common/services/auth.js" %}"></script>
<script src="{% static "js/common/services/dataSvc.js" %}"></script>
<script src="{% static "js/common/services/dateFuncs.js" %}"></script>
<script src="{% static "js/common/modals/common.js" %}"></script>
<script src="{% static "js/common/modals/login/login.js" %}"></script>
<script src="{% static "js/components/summary/modals/addAccount/addAccountCtrl.js" %}"></script>
<script src="{% static "js/components/summary/modals/addCategory/addCategoryCtrl.js" %}"></script>
<script src="{% static "js/components/summary/modals/addTransaction/addTransactionCtrl.js" %}"></script>
<script src="{% static "js/components/account/controller.js" %}"></script>
<script src="{% static "js/components/category/controller.js" %}"></script>
<script src="{% static "js/components/summary/chartController.js" %}"></script>
<script src="{% static "js/components/summary/controller.js" %}"></script>
<script src="{% static "js/components/transaction/controller.js" %}"></script>
<!--endinject-->