<div class="ui-grid-filter-container">
    <div
            class="vcenter ui-grid-filter-input ui-grid-filter-input-{{$index}}"
            uib-datepicker-popup
            datepicker-options="datepickerOptions"
            ng-model="dt"
            datepicker-template-url="/static/js/common/directives/uiGridDatepickerFilter/datepicker.html"
            datepicker-popup-template-url="/static/js/common/directives/uiGridDatepickerFilter/datepickerPopup.html"
            is-open="datepickerOptions.opened"
            close-text="Close"
            close-on-date-selection="false"
            datepicker-append-to-body="true"
    >
        <button
                class="btn btn-sm" style="margin: 2px 2px; padding: 4px 15px"
                ng-click="datepickerOptions.open()">Filter
        </button>

    </div>
    <div class="vcenter small" ng-show="(start || end) && (col.filters[0].term || datepickerOptions.opened)">
        {{ start | date:'dd.MM.yyyy' }} - {{ end | date:'dd.MM.yyyy' }}
    </div>
    <div role="button"
         class="ui-grid-filter-button vcenter"
         ng-click="datepickerOptions.clearDates()"
         ng-disabled="col.filters[0].term === undefined || col.filters[0].term === null || col.filters[0].term === ''"
         ng-show="col.filters[0].term !== undefined && col.filters[0].term !== null && col.filters[0].term !== ''"
    ><i class="ui-grid-icon-cancel" ui-grid-one-bind-aria-label="aria.removeFilter">&nbsp;</i>
    </div>
</div>